<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.example"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Football Players Application</name>

    <description>
        The Football Players Application allows users to see the current players at their preferred football club. 
    </description>

    <author href="https://build.phonegap.com" email="HARA5_14@uni.worc.ac.uk">
        Alex Harley 
    </author>
	
	<platform name="ios" >
		<preference name="orientation" value="default" />
		<preference name="prerendered-icon" value="true" />
	</platform>

</widget>