@charset "utf-8";
/* CSS Document */

@media only screen and (-webkit-min-device-pixel-ratio: 2) {

#lang_de_button .ui-icon { 
    background: url(img/premierleague.png) 50% 50% no-repeat;
    background-size: 16px 11px;
    box-shadow: none!important;
    border-radius: 0px !important;
}